.form {
  margin: 3rem auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.form > button {
  grid-column: 1/3;
  cursor: pointer;
}

.form_input,
.meme_button {
  padding: 12px 14px;
  border-radius: 6px;
}

.form_input {
  border: 1px solid lightgray;
}

.form_input:focus {
  outline: none;
}

.meme_button {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  border: none;
}

.meme {
  position: relative;
  display: flex;
  /* width: 90%; */
  margin: auto;
  justify-content: center;
  width: 60%;
  box-shadow: 6px 9px 13px -2px rgba(86, 86, 86, 0.62);
  border-radius: 6px;
}

.meme > img {
  width: 100%;
  border-radius: 6px;
}

.top_text {
  position: absolute;
  color: white;
  top: 0px;
}

.bottom_text {
  position: absolute;
  color: white;
  bottom: 0;
}
